:root {
    --body: hsl(210, 40%, 96%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --green: rgba(202, 248, 202);
    --text-color: hsl(215, 16%, 47%);
    --heading: hsl(222, 47%, 11%);
    --date: rgb(148, 163, 184);

    --javascript: #f7df1e;
    --htmlcss: linear-gradient(
        90deg,
        rgba(227, 79, 38, 1) 0%,
        rgba(21, 114, 182, 1) 100%
    );
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 100px 0;
    color: var(--text-color);
    background-color: var(--body);
    display: grid;
    justify-items: center;
    font-family: "Roboto", sans-serif;
}

h1 {
    color: var(--heading);
}

header {
    display: grid;
    gap: 100px;
    margin-bottom: 100px;
    text-align: center;

    & p {
        padding: 0 20px;
    }

    & > .contact {
        display: grid;
        justify-items: center;

        & > h1 {
            font-family: "Oswald", sans-serif;
            font-size: 90px;
            text-align: center;
        }

        & > p {
            margin: 10px 0 20px 0;
        }

        & > .c {
            display: flex;
            gap: 15px;
            font-size: 14px;

            & > a {
                text-decoration: none;
                color: var(--black);

                &:hover {
                    text-decoration: underline;
                }

                & > p {
                    display: flex;
                    gap: 3px;
                    align-items: center;
                    background-color: #324052;
                    padding: 10px;
                    border-radius: 50%;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    & > .skills {
        display: grid;
        justify-items: center;

        & > h1 {
            font-size: 35px;
            text-align: center;
        }

        & > p {
            margin: 10px 0 50px 0;
        }

        & > .lang {
            display: flex;
            gap: 20px;

            & > img {
                width: 65px;
                height: 65px;
            }
        }
    }
}

main {
    width: fit-content;
    display: grid;

    & > h1 {
        font-size: 35px;
        justify-self: center;
    }

    & > p {
        width: 100%;
        max-width: 700px;
        justify-self: center;
        text-align: center;
        padding: 0 20px;
        margin: 20px 0 60px 0;
    }

    & > .options {
        width: fit-content;
        display: flex;
        justify-self: center;
        justify-content: space-between;
        padding: 5px;
        background-color: var(--white);
        border-radius: 5px;

        & > button {
            font-size: 16px;
            padding: 10px 20px;
            color: #64748b;
            border: none;
            outline: none;
            border-radius: 15px;
            background-color: var(--white);
            cursor: pointer;
            border-radius: 5px;

            &.active {
                color: var(--white);
                background-color: #0f172a;
            }

            &:hover:not(&.active) {
                color: #0f172a;
                background-color: #f8fafc;
            }
        }
    }

    #projects {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: start;
        margin-top: 30px;
        width: fit-content;

        .project {
            width: 340px;
            border-radius: 10px;
            background-color: var(--white);

            & > img {
                width: 100%;
                height: 240px;
                border-radius: 10px 10px 0 0;
            }

            & > .textWrapper {
                display: grid;
                gap: 15px;
                padding: 0 20px 30px 20px;
                margin-top: 15px;

                & > .label {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 14px;

                    & > .tag {
                        font-weight: bold;
                        display: flex;
                        gap: 8px;

                        & > .tech {
                            padding: 5px 10px;
                            border-radius: 5px;
                            color: #4f46e5;
                            background-color: #eef2ff;
                        }
                    }

                    & > .htmlcss {
                        color: white;
                        background: var(--htmlcss);
                    }

                    & > .javascript {
                        background-color: var(--javascript);
                    }

                    & > .date {
                        color: var(--date);
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }

                & > .name {
                    font-size: 25px;
                    font-weight: 700;
                    color: var(--heading);
                    font-family: "Outfit", sans-serif;
                }

                & > .url {
                    display: flex;
                    gap: 20px;

                    & > :last-child {
                        width: 24px;
                        height: 24px;
                        border: 1px solid var(--black);
                        border-radius: 50%;

                        & img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    main > #projects {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    header {
        .contact > h1 {
            font-size: 55px;
        }
    }
    main {
        & > .options {
            & > button {
                font-size: 14px;
            }
        }
        & > #projects {
            grid-template-columns: 1fr;
            justify-self: center;
        }
    }
}

@media screen and (max-width: 375px) {
    main {
        width: 90.6%;

        & > #projects {
            width: 100%;

            & > .project {
                width: 100%;
            }
        }
    }
}
